body {
    font-family: Inter, sans-serif;
}

section.hero.is-primary {
    background-color: #438ece;
}

.button.is-success {
    background-color: #66ab89;
}

.button.is-success:hover {
    background-color: #408c66;
}

.button.is-danger {
    background-color: #FF6584;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}